version: '3.9'

services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - general-network

  backend:
    build: ./backend
    ports: 
      - "8080:8080"
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - general-network
    restart: always
  
  db:
    image: mysql:8.0
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - general-network
    restart: always
  
  # app:
  #   build: ./nlp
  #   depends_on:
  #     - db
  #   env_file:
  #     - ./nlp/.env.example
  #   networks:
  #     - general-network
  #   restart: always

networks:
  general-network:
    driver: bridge
