#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-spacing: 0;
}

table, td {
  border: 1px solid rgb(0, 0, 0);
}

th, td {
  padding: 10px 20px;
  line-height: 1;
}
